@import "variables.css";
@import "normalize.css";
@import "font.css";
@import "reset.css";

/* colors defined in variables.css */
:root {
	/* font */
	--sans: "National 2 Web", Helvetica, Arial, sans-serif;
	--serif: "Recoleta Regular", Georgia, Times, serif;
	--mono: Menlo, Consolas, Monaco, "Courier New", monospace;
	
	/* z-index */
	--z-bottom: -100;
  --z-middle: 0;
  --z-top: 100;
	--z-overlay: 1000;

	/* presets */
	--font-body: var(--sans);
	--font-form: var(--sans);
	--background-body: var(--base-white);
  --background-form: var(--base-off-white);
	--color-body: var(--base-off-black);
	--color-placeholder: var(--base-gray-dark);
  --color-link: var(--base-purple);
  --color-focus: var(--base-red);
	--color-border: var(--base-gray-light);
	--color-selection: var(--base-gray-light);
  --color-highlight: var(--base-yellow);
	--size-sm: 16px;
	--size-md: 21px;

	--max-width: 540px;
	--radius: 6px;
}

body {
	font-size: var(--size-md);
	background-color: var(--base-red);
}

h1, h2, h3 {
	font-family: var(--serif);
	line-height: 1.2;
}

h1 {
	font-size: 46px;
}

h2 {
	font-size: 32px;
}

details span {
	display: block;
	padding: 1em;
}

details summary > * {
	display: inline;
}

summary {
	cursor: pointer;
	margin: 0 auto;
	background: rgba(255, 255, 255, 0.2);
	padding: 0.5em;
	border-radius: var(--radius);
}

summary span {
	background: none;
	padding: 0;
}

img {
	border-radius: var(--radius);
}

.sm {
	font-size: var(--size-sm);
}

.md {
	font-size: var(--size-md);
}

.btn {
	text-decoration: none;
  background-color: var(--background-form);
  border: none;
  border-radius: 4px;
  color: var(--color-form);
  font-family: var(--font-form);
  font-size: 0.75em;
	font-weight: bold;
  outline: none;
  padding: 0.5em;
	text-transform: uppercase;
}

.col {
	max-width: var(--max-width);
	margin: 0 auto;
	padding: 0 1em;
}